.search-container {
  display: flex;
  justify-content: center;
}

.search {
  label, input, button {
    font-size: var(--key-font-size);
  }
}

.game-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
