.search-container {
  display: flex;
  justify-content: center;
}

.search {
  label, input, button {
    font-size: var(--key-font-size);
  }
}

.game-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.search-inputs {
  display: flex;
  input {
    width: calc(100% - 150px - 1rem);
    min-width: 150px;
    border-radius: 5px;
  }
  button {
    width: 150px;
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    border-color: white;
    border-radius: 5px;
  }
}
