.search-container {
  display: flex;
  justify-content: center;
}

.search {
  label, input, button {
    font-size: var(--key-font-size);
  }
}

.game-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.search-inputs {
  display: flex;
  input {
    width: calc(100% - 100px - 1rem);
    min-width: 100px;
  }
  button {
    width: 100px;
  }
}
