@if (gameInfo) {
  <div class="game-info">
    <div class="game-info-header">{{gameInfo.name}}</div>
    <img src="{{gameInfo.imageUrl}}" (click)="onImageClick()">
    @if (viewingPrice) {
      <div class="price-info-shell" (click)="viewingPrice = false">
        <div class="price-info">
          <div class="price-info-title">Deals for {{gameInfo.name}}:</div>
          @for (game of priceInfo; track game) {
            @for (deal of game.deals; track deal) {
              <div>
                {{deal.shop.name}} - <a (click)="$event.stopPropagation()" href="{{deal.url}}" target="_blank">{{deal.price.amount | currency}}</a>
              </div>
            }
          }
        </div>
      </div>
    }
    <div class="game-info-footer">
      @if (gameInfo.mainTime != null) {
        {{gameInfo.mainTime / 3600 | number:'1.0-0'}} hours
      }
    </div>
  </div>
}
