@if (gameInfo) {
  <div class="game-info">
    <div class="game-info-header">{{gameInfo.name}}</div>
    <img src="{{gameInfo.imageUrl}}" (click)="onImageClick()">
    @if (viewingPrice) {
      <div class="price-info-shell" (click)="viewingPrice = false">
        <div class="price-info">
          <div class="price-info-title">Deals for {{gameInfo.name}}:</div>
          @for (info of priceInfo; track info) {
            <div>
              {{info.shop?.name}} - <a (click)="$event.stopPropagation()" href="{{info.url}}" target="_blank">{{info.price_new | currency}}</a>
            </div>
          }
        </div>
      </div>
    }
    <div class="game-info-footer">{{gameInfo.gameplayMain}} hours</div>
  </div>
}

